.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
#map_canvas{
  background: #999999;
}
ion-content {
  position : absolute; 
  top : 0;
  left : 0;
  height: 100vh;
  width: 100vw;
}
ion-toolbar {
  --background: transparent;
  --ion-color-base: transparent !important;
}